# middle output
datasets/
data/chr_final_count/
preprocess/scripts/test.py
preprocess/images/
experiment/images/
experiment/other-tissue-meqtl/
experiment/07-hidden-state-analysis/test.py
experiment/07-hidden-state-analysis/genome_field/
experiment/07-hidden-state-analysis/hidden_state/
experiment/07-hidden-state-analysis/images/
experiment/06-existing-methods-comparison/images/
experiment/08-disease-SNP/data/final_t0/
experiment/08-disease-SNP/data/final_t24/
experiment/08-disease-SNP/images/
experiment/08-disease-SNP-GO/
experiment/09-SNP-different-cell/data/
experiment/09-SNP-different-cell/images/
experiment/10-tissue-meqtl-evaluation/images/
experiment/11-single-cell-eqtl-evaluation/images/


# middle scripts
training_onehot.py
training_tenfold.py
training_tenfold_cpgenie.py
training_slope.py
training_mono.py
training_ablation.py
evaluation_onehot.py
evaluation_tenfold.py
evaluation_mono.py
evaluation_mono_e2e.py
evaluation_cpgenie_tenfold.py
evaluation_slope.py
evaluation_ablation.py
large_ten_fold.py
finetune_mono.py
middleOutput_.py
middleOutput_biGRU.py
middleOutput_skin.py
middleOutput_tenfold.py
middleOutput_tenfold_cpgenie.py
middleOutput_slope.py
05-ablation-evaluation.ipynb
model/methven_noATAC.py
model/methven_noBiGRU.py
model/methven_noDNABERT.py
model/methven_onehot.py
pred_disease_SNP.py
experiment/08-disease-SNP/test.ipynb
test_interface_dnabert2.py
test_interface_methven.py
bedGraphToBigWig
evaluation_skin.py
training_skin.py
evaluation_eqtl.py
training_eqtl.py

# middle file
*.pyc
*.npy
*.slurm
*.tf.index
*.tf.data-00000-of-00001
checkpoint
*.csv
*.xlsx
*.sizes
*.bigWig
*.bedGraph
*.narrowPeak
*.bw
*.json
*.pkl
*.chain