# middle output
datasets/
data/chr_final_count/
preprocess/scripts/test.py
preprocess/images/
model/weights/
model/weights_onehot/
model/weights_slope/
model/weights_cpgenie_tenfold/
model/weights_tenfold/
model/weights_mono/
model/weights_mono_finetune/
experiment/images/
experiment/05-other-tissue-meqtl/

# middle scripts
training_onehot.py
training_tenfold.py
training_tenfold_cpgenie.py
training_slope.py
training_mono.py
training_skin.py
evaluation_onehot.py
evaluation_tenfold.py
evaluation_mono.py
evaluation_mono_e2e.py
evaluation_cpgenie_tenfold.py
evaluation_slope.py
large_ten_fold.py
finetune_mono.py
middleOutput_.py
middleOutput_tenfold.py
middleOutput_tenfold_cpgenie.py
middleOutput_slope.py
model/cpgenie.py
src/dataGenerator_onehot.py
src/dataGenerator_cpgenie.py

# middle file
*.pyc
*.npy
*.slurm